<h2>Items</h2>
<div class="box">
  <div class="dropdown">
    <button class="dropbtn">
      {{ sort.sortBy | titlecase }}
      <i class="fa fa-sort"></i>
    </button>
    <div class="dropdown-content">
      <button
        *ngFor="let option of sortOptions"
        [class.selected]="option === sort.sortBy"
        (click)="handleSort(option, sort.sortType)"
      >
        {{ option | titlecase }}
      </button>
      <div class="dropdown-sortTypes">
        <button
          *ngFor="let type of sortTypes"
          [class.selected]="type === sort.sortType"
          (click)="handleSort(sort.sortBy, type)"
        >
          {{ type | titlecase }}
        </button>
      </div>
    </div>
  </div>
  <ul>
    <li *ngFor="let item of items">
      <a routerLink="/item/detail/{{ item.id }}">
        <span class="badge">{{ item.id }}</span> {{ item.name }}
      </a>
    </li>
  </ul>
</div>

<app-item-search></app-item-search>
