<h2>Items</h2>
<div class="box">
  <div class="dropdown">
    <button class="dropbtn">
      {{ sortBy | titlecase }}
      <i class="fa fa-sort"></i>
    </button>
    <div class="dropdown-content">
      <button (click)="sort('id')">Id</button>
      <button (click)="sort('name')">Name</button>
      <button (click)="sort('price')">Price</button>
    </div>
  </div>
  <ul>
    <li *ngFor="let item of items">
      <a routerLink="/item/detail/{{ item.id }}">
        <span class="badge">{{ item.id }}</span> {{ item.name }}
      </a>
    </li>
  </ul>
</div>
