<h2>{{ hero.name }} Details</h2>
<div class="box">
  <ul>
    <li>
      <label>
        Name:
        <input [(ngModel)]="hero.name" placeholder="name" />
      </label>
    </li>
    <li>Id: {{ hero.id }}</li>
  </ul>
  <h3>Items</h3>
  <ul>
    <li *ngFor="let item of hero.items">
      <a routerLink="/item/detail/{{ item.id }}">
        <span class="badge">{{ item.id }}</span> {{ item.name }}
      </a>
    </li>
  </ul>
</div>

<div>
  <button (click)="save()">save</button>
</div>

<div class="buy">
  <a routerLink="/shop/{{ hero.id }}">BUY</a>
</div>

<div class="back-button">
  <button (click)="goBack()">BACK</button>
</div>
