li {
  min-width: 325px;
}

.buybutton {
  display: inline;
  float: right;
  margin-left: 30px;
}

.buybutton button {
  color: #69f0ae;
  font-size: 25px;
}

table {
  margin: 0 auto;
  width: 50%;
}

th,
td {
  font-size: 20px;
}
