a {
  text-decoration: none;
  margin: 0px 10px;
  flex: 1;
}

.module {
  text-align: center;
  color: white;
  background-color: #272727;
  border-radius: 5px;
  font-size: 40px;
  height: 300px;
  line-height: 300px;
}

.module:hover {
  background-color: #1e1e1e;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .grid {
    flex-direction: column;
  }
}
