body {
  background-color: #121212;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.back-button {
  text-align: center;
}

.back-button button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
}

.box {
  margin: 70px auto;
  width: 25%;
  background-color: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 5px;
  color: white;
}

.box ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.badge {
  margin-right: 10px;
  color: #ff5252;
}

h2 {
  text-align: center;
  margin: 10px;
  font-size: 70px;
  color: #ff5252;
}

.dropbtn {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #121212;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  width: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #121212;
  flex-direction: column;
  align-items: center;
}

.dropdown-content button.selected {
  background-color: #448aff;
}

.dropdown-content button {
  margin: 3px 0;
  width: 50%;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown:hover .dropbtn {
  background-color: #448aff;
}

.dropdown-sortTypes {
  width: 50%;
  border-top: white solid 2px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
