.buybutton {
  display: inline;
  float: right;
  margin-left: 30px;
}

.buybutton button {
  color: #ff5252;
  font-size: 25px;
}

li {
  min-width: 325px;
}

input {
  width: 50%;
  padding: 12px 5px;
  margin: 30px 0 5px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
}

input:focus {
  outline: none;
}

.add-button {
  margin: 10px 0;
}

.add-button button {
  font-size: 25px;
}

table {
  width: 50%;
  margin: 0 auto;
}

th,
td {
  font-size: 20px;
}

mat-card {
  width: 25%;
  margin: 20px auto;
  text-align: center;
}

.test-input {
  width: 50%;
  margin: 10px 0;
}

.title {
  font-size: 30px;
}

.create {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}
