<h2>My Heroes</h2>
<div class="box">
  <div class="dropdown">
    <button class="dropbtn">
      {{ sort.sortBy | titlecase }}
      <i class="fa fa-sort"></i>
    </button>
    <div class="dropdown-content">
      <button
        *ngFor="let option of sortOptions"
        [class.selected]="option === sort.sortBy"
        (click)="handleSort(option, sort.sortType)"
      >
        {{ option | titlecase }}
      </button>
      <div class="dropdown-sortTypes">
        <button
          *ngFor="let type of sortTypes"
          [class.selected]="type === sort.sortType"
          (click)="handleSort(sort.sortBy, type)"
        >
          {{ type | titlecase }}
        </button>
      </div>
    </div>
  </div>
  <ul>
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span> {{ hero.name }}
      </a>
      <div class="buybutton back-button">
        <button title="delete hero" (click)="delete(hero)">X</button>
      </div>
    </li>
  </ul>
</div>

<h2>Add Hero</h2>
<div class="box">
  <input #heroName placeholder="Name" />
  <div class="back-button add-button">
    <button (click)="add(heroName.value); heroName.value = ''">Add</button>
  </div>
</div>
